@import "bootstrap/css/bootstrap.min.css";
@import "navBarHeader/NavBar.css";
@import "navBarHeader/Header.css";
@import "General/General.css";
@import "Catalog/Catalog.css";
@import "globalVar.css";
@import "fontawesome/css/all.css";
@import "fontawesome/css/solid.css";



* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
}

body {
  background-color: #8c8a8a;
  height: max-content;
}

::-webkit-scrollbar{ width: 0px;}
::-webkit-scrollbar-thumb{width: 0px}
::-webkit-scrollbar-corner{ width: 0px}


.App {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 120px 60px 1207px;
}

.ContentWrapper {
  margin: auto;
  border-radius: 7px;
  background-color: var(--color-bg);
  width: 98%;
  height: 98%;
}

.myFooter {
  background-color: var(--color-bg);
  color: #d3d0d0;
}

.mediaContact {
  display: grid;
  grid-template-columns: repeat(4, 40px);
}

.mediaContact>i {
  cursor: pointer;
  font-size: 30px;
}

.myFooterContacts {
  display: flex;
  margin-top: 10px;
  flex-direction: row-reverse;
}