@import "navBarHeader/NavBar.css";
@import "navBarHeader/Header.css";
@import "globalVar.css";
@import "fontawesome/css/all.css";



* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
}

body {
  background-color: #8c8a8a;
  height: 2000px;
}

::-webkit-scrollbar{ width: 15px; background-color: var(--color-bg) }
::-webkit-scrollbar-thumb{ background-color: #595555;}

.App {
  display: grid;
  grid-template-rows: 120px 60px auto;
}

.ContentWrapper {
  background-color: var(--color-bg);
  width: 98%;
  height: 98%;
}