@import "bootstrap/css/bootstrap.min.css";
@import "navBarHeader/NavBar.css";
@import "navBarHeader/Header.css";
@import "General/General.css";
@import "globalVar.css";
@import "fontawesome/css/all.css";



* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
}

body {
  background-color: #8c8a8a;
  height: max-content;
}

::-webkit-scrollbar{ width: 15px; background-color: var(--color-bg) }
::-webkit-scrollbar-thumb{ background-color: #595555;}

.App {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 120px 60px 1000px;
}

.ContentWrapper {
  margin: auto;
  border-radius: 7px;
  background-color: var(--color-bg);
  width: 98%;
  height: 98%;
}