.General {
    margin: auto;
    margin-top: 10px;
    width: 98%;
    height: 98%;
}

.Slider {
    padding: 7px;
    width: 1500px;
    margin: auto;
    height: 240px;

    border-bottom: 4px #8c8a8a solid;
    border-top: 4px #8c8a8a solid;
}


.listItem1 {
    margin: auto;
    width: 98%;
    height: 220px;
    border-radius: 7px;
    background: url("/media/bg-img.jpg");
}

.GeneralContent {

}