.General {
    margin: auto;
    margin-top: 10px;
    width: 98%;
    height: 98%;
}

.Slider {
    padding: 10px;
    border-radius: 7px;
    width: 98%;
    margin: auto;
    height: 240px;

    background-color: #838080;
}


.listItem1 {
    margin: auto;
    background-color: #363535;
    width: 98%;
    height: 220px;

    border-radius: 7px;
}